@import "../themes/vars";
::ng-deep {
  .igx-navbar__title {
    @include media("<=tablet") {
      display: none;
    }
    @include media("<=600") {
      font-size: 14px !important;
    }
  }
}

svg {
  height: 24px;
}

