@import "../themes/vars";

::ng-deep {
  .app__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $app-gap;

    @include media("<=tablet") {
      flex-direction: column;
    }
  }

  .app__footer-item {
    line-height: normal;
    font-size: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    @include media("<=tablet") {
      align-items: center;
      text-align: center;
    }
    &--info {
      text-align: right;
      @include media("<=tablet") {
        margin-top: rem(8px);
        text-align: center;
      }
    }
  }

  .app-light-theme {
    .app__footer {
      background: map-get($light-vars, footer-background);
    }
    .app__footer-item {
      &--info {
        a {
          color: map-get($light-vars, link-color);
        }
      }
    }
  }

  .app-dark-theme {
    .app__footer {
      background: map-get($dark-vars, footer-background);
    }
    .app__footer-item {
      &--info {
        a {
          color: map-get($dark-vars, link-color);
        }
      }
    }
  }

  .footerLogo svg {
    height: 40px;
  }

}
