@import "../../../node_modules/igniteui-angular/lib/core/styles/base/index";
@import "palettes";
$card-header-height: 80px;
$app-gap: 16px;

$light-vars:(
  confirmed-color: igx-color($app-palette, 'secondary'),
  confirmed-bg: rgba(igx-color($app-palette, 'secondary'), .03),
  deaths-color: igx-color($app-palette, 'error'),
  deaths-bg: rgba(igx-color($app-palette, 'error'), .03),
  footer-background: igx-color($app-palette, 'grays', 100),
  link-color: igx-color($app-palette, 'secondary'),
  tooltip-bg: igx-color($app-palette, 'surface'),
  logo-color: #000
);

$dark-vars:(
  confirmed-color: igx-color($app-dark-palette, 'info'),
  confirmed-bg: rgba(igx-color($app-dark-palette, 'secondary'), .03),
  deaths-color: igx-color($app-dark-palette, 'error'),
  deaths-bg: rgba(igx-color($app-dark-palette, 'error'), .03),
  footer-background: igx-color($app-dark-palette, 'grays', 100),
  link-color: igx-color($app-dark-palette, 'secondary'),
  tooltip-bg: igx-color($app-dark-palette, 'surface'),
  logo-color: #fff,
  dark-gradient: (igx-color($app-dark-palette, 'primary', 600), igx-color($app-dark-palette, 'surface'))
);

@import "~include-media/dist/include-media";


