$app-button-group-theme-dark: igx-button-group-theme(
  $schema: $dark-schema,
  $item-background: igx-color($app-dark-palette, 'primary'),
  $item-selected-background: igx-color($app-dark-palette, 'surface'),
  $item-hover-background: igx-color($app-dark-palette, 'surface'),
  $item-selected-hover-background: igx-color($app-dark-palette, 'surface'),
  $item-selected-border-color: igx-color($app-dark-palette, 'surface'),
  $item-border-color: igx-color($app-dark-palette, 'surface'),
  $shadow: none,
);
@include igx-button-group($app-button-group-theme-dark);
