$app-button-group-theme: igx-button-group-theme(
  $item-selected-background: #D5D3EF,
  $item-hover-background: #D5D3EF,
  $item-selected-hover-background: #D5D3EF,
  $item-selected-border-color: igx-color($app-palette, 'primary'),
  $item-text-color: igx-color($app-palette, 'primary', 700),
  $item-selected-text-color: igx-color($app-palette, 'primary', 900),
  $item-hover-text-color: igx-color($app-palette, 'primary', 900),
  $item-border-color: igx-color($app-palette, 'primary'),
  $shadow: none,
);

@include igx-button-group($app-button-group-theme);
