$app-button-group-theme: button-group-theme(
  $item-selected-background: #D5D3EF,
  $item-hover-background: #D5D3EF,
  $item-selected-hover-background: #D5D3EF,
  $item-selected-border-color: color($app-palette, 'primary'),
  $item-text-color: color($app-palette, 'primary', 700),
  $item-selected-text-color: color($app-palette, 'primary', 900),
  $item-hover-text-color: color($app-palette, 'primary', 900),
  $item-border-color: color($app-palette, 'primary'),
  $shadow: none,
);

@include button-group($app-button-group-theme);
