@import "../vars";
::ng-deep {
  .app__list {
    height: 100%;
    padding: $app-gap;

    .igx-list__item-actions {
      font-weight: bold;
    }

    &--deaths {
      .app__card-header {
        background: $deaths-bg !important;
      }
      .igx-card-header__title {
        font-weight: bold;
      }
      .igx-card-header__subtitle{
        color: $deaths-color;
      }
    }

    &--recovered {
      .app__card-header {
        background: $recovered-bg !important;
      }

      .igx-card-header__title {
        font-weight: bold;
      }
      .igx-card-header__subtitle{
        color: $recovered-color;
      }
    }

    &--confirmed {
      .app__card-header {
        background: $confirmed-bg !important;
      }
      .igx-card-header__title {
        font-weight: bold;
      }
      .igx-card-header__subtitle{
        color: $confirmed-color;
      }
    }

    + .app__list {
      padding-left: 0;
    }

    .app__list-holder {
      height: 100%;
    }

    .app__card-header {
      min-height: $card-header-height;
    }

    .app__card-content {
      height: calc(100% - #{$card-header-height});
      overflow: auto;
      padding: 0;
    }

    .app__list-inner {
      overflow: auto;
    }
  }
}
