@import "../vars";
::ng-deep {
  .app__list {
    height: 100%;
    padding: $app-gap;

    &--deaths {
      .igx-card-header__title{
        color: $deaths-color;
      }
    }

    &--recovered {
      .igx-card-header__title{
        color: $recovered-color;
      }
    }

    &--confirmed {
      .igx-card-header__title{
        color: $confirmed-color;
      }
    }

    + .app__list {
      padding-left: 0;
    }

    .app__list-holder {
      height: 100%;
    }

    .app__card-header {
      min-height: $card-header-height;
    }

    .app__card-content {
      height: calc(100% - #{$card-header-height});
      overflow: auto;
      padding: 0;
    }

    .app__list-inner {
      overflow: auto;
    }
  }
}
