<main class="app__main-inner">
    <div class="app__row app__row--left">
      <app-list-cases class="app__list--confirmed" #confirmedList type="Confirmed" (regionSelected)="onRegionSelected($event)"></app-list-cases>
      <section class="app__col app__col--map">
        <h1 class="app__mobile-header">Coronavirus <strong>COVID-19</strong> Global Cases</h1>

        <app-map-cases #map></app-map-cases>
      </section>
    </div>

    <div class="app__col app__col--stats">
        <div class="app__row app__list-stack">
            <app-list-cases class="app__list--deaths" #deathsList type="Deaths" (regionSelected)="onRegionSelected($event)"></app-list-cases>
        </div>
        <app-timeline-chart class="app-timeline-chart" #charts></app-timeline-chart>
    </div>
</main>
