<div class="app__map-inner">
  <igx-buttongroup class="app__map-button-group" [multiSelection]="false" (onSelect)="onDataSetSelected($event)">
    <button igxButton *ngFor="let button of dataSetButtons" [selected]="button.selected">
      <span class="ellipsis">
        {{ button.name }}
      </span>
    </button>
  </igx-buttongroup>
  <igx-geographic-map class="app__map" #map zoomable="true"></igx-geographic-map>
</div>

<ng-template let-series="series" let-item="item" #template>
    <div class="app__map-tooltip">
        <h1 *ngIf="item.region">{{item.region}}, {{item.country}}</h1>
        <h1 *ngIf="!item.region">{{item.country}}</h1>
        <ul class="app__map-tooltip-list">
          <li [class]="tooltipTitle.toLowerCase()">{{ tooltipTitle }}:  <span>{{ item.value }}</span></li>
        </ul>
    </div>
</ng-template>

<!-- Loader Gif -->
<ng-template #loader>
    <div class="loader">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <image xlink:href="../../assets/loading.svg" height="65" width="65"/>
        </svg>
    </div>
</ng-template>
