@import "../vars";
::ng-deep {
  .app__map-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex: 1;
  }
  .app__map-button-group {
    margin-bottom: 8px;
  }
}

.app__map {
  min-height: calc(100% - 44px);
  min-width: 100%;
  height: calc(100% - 44px);
  border-radius: 8px;
  overflow: hidden;
}

.app__map-inner {
  display: flex;
  height: 100%;
  padding: 0 5px;
  flex-direction: column;
}
