@use "sass:math";
@import "../themes/vars";
::ng-deep {
    .app__charts {
        padding: 0 $app-gap $app-gap $app-gap;
        display: flex;
        flex: 1;
        max-height: 100%;
        height: 100%;
        position: relative;

        @include media("<=tablet") {
          padding-top: $app-gap;
        }

        .gx-bottom-nav__menu,
        .igx-bottom-nav__menu--bottom {
          position: relative;
          border-radius: 8px;
        }
        .igx-bottom-nav__menu-item--selected {
          font-weight: bold;
        }
      }

      .app__chart-wrapper {
        display:flex;
        flex-direction:column;
      }

      .app__charts-tabs {
        display: flex !important;
        flex-direction: column;
        flex:1 0 0%;
        > div {
          flex: 1;
        }

        .igx-tabs__group {
          height: 100%;
        }
      }

      .app__chart-component {
        width: 100%;
        height: 100%;
        flex: 1;
      }

      .app__charts-chart {
        width: 100%;
        height: calc(40vh - 42px);
      }

    .app__charts-legend {
        padding: math.div($app-gap, 2) 0
    }

    .ig-chart-legend-items-list,
    .ig-chart-legend-item{
        display:flex !important;
        align-items: center !important;
    }

    .ig-chart-legend-item td {
        margin-right: 4px !important;
        padding: 0 !important;
        display: flex;
    }

    .app__charts-chart {
        width: 100%;
        height: calc(40vh - 42px);
    }

    .app__chart-component {
        width: 100%;
        height: 100%;
        flex: 1;
    }
}
