<div class="app__charts">
    <!--NOTE: This component has been updated by Infragistics migration: v12.0.0
Please check your template whether all bindings/event handlers are correct.-->
    <igx-bottom-nav class="app__charts-tabs">
        <igx-bottom-nav-item>
            <igx-bottom-nav-header>
                <span igxBottomNavHeaderLabel>Actual</span>
            </igx-bottom-nav-header>
            <igx-bottom-nav-content>
                <div class="app__chart-wrapper">
                    <igx-legend class="app__charts-legend" #legendActual orientation="Horizontal"></igx-legend>
                    <div class="app__chart-component">
                        <igx-data-chart class="app__charts-chart" crosshairVisibility="visible" #chartActual
                            [legend]="legendActual" [dataSource]="chartData" isHorizontalZoomEnabled="true">
                            <igx-category-x-axis label="date" title="Date" #xAxis2 [formatLabel]="formatDateLabel">
                            </igx-category-x-axis>
                            <igx-numeric-y-axis name="yAxis2" #yAxis2 title="Cases count" abbreviateLargeNumbers="true">
                            </igx-numeric-y-axis>

                            <igx-line-series name="seriesTotalDailyOtherLocations" title="Total Daily Other Locations"
                                [xAxis]="xAxis2" [yAxis]="yAxis2" valueMemberPath="totalDailyOtherLocations"
                                [markerType]="3" showDefaultTooltip="true">
                            </igx-line-series>
                            <igx-line-series name="seriesTotalDailyChina" title="Total Daily China" [xAxis]="xAxis2"
                                [yAxis]="yAxis2" valueMemberPath="totalDailyChina" [markerType]="3"
                                showDefaultTooltip="true">
                            </igx-line-series>
                        </igx-data-chart>
                    </div>
                </div>
            </igx-bottom-nav-content>
        </igx-bottom-nav-item>
        <igx-bottom-nav-item>
            <igx-bottom-nav-header>
                <span igxBottomNavHeaderLabel>Logarithmic</span>
            </igx-bottom-nav-header>
            <igx-bottom-nav-content>
                <div class="app__chart-wrapper">
                    <igx-legend class="app__charts-legend" #legendLogarithmic orientation="Horizontal"></igx-legend>
                    <div class="app__chart-component">
                        <igx-data-chart class="app__charts-chart" crosshairVisibility="visible" #chartLogarithmic
                            [legend]="legendLogarithmic" [dataSource]="chartData" isHorizontalZoomEnabled="true">
                            <igx-category-x-axis label="date" title="Date" #xAxis3 [formatLabel]="formatDateLabel">
                            </igx-category-x-axis>
                            <igx-numeric-y-axis name="yAxis3" #yAxis3 title="Cases count" isLogarithmic="true"
                                abbreviateLargeNumbers="true"></igx-numeric-y-axis>

                            <igx-line-series name="seriesTotalDailyOtherLocations" title="Total Daily Other Locations"
                                [xAxis]="xAxis3" [yAxis]="yAxis3" valueMemberPath="totalDailyOtherLocations"
                                [markerType]="3" showDefaultTooltip="true">
                            </igx-line-series>
                            <igx-line-series name="seriesTotalDailyChina" title="Total Daily China" [xAxis]="xAxis3"
                                [yAxis]="yAxis3" valueMemberPath="totalDailyChina" [markerType]="3"
                                showDefaultTooltip="true">
                            </igx-line-series>
                        </igx-data-chart>
                    </div>
                </div>
            </igx-bottom-nav-content>
        </igx-bottom-nav-item>
    </igx-bottom-nav>
</div>

<ng-template let-series="series" let-item="item" #tooltipActualChart>
    <div class="app__map-tooltip">
        <ul class="app__map-tooltip-list">
            <li class="deaths" *ngIf="series.name == 'seriesTotalDailyOtherLocations'">
                <div>{{ formatDateLabel(item) }}</div>
                <div>
                    Total Daily Other Locations:
                    <span>{{ item.totalDailyOtherLocations| number }}</span>
                </div>
            </li>
            <li class="infected" *ngIf="series.name == 'seriesTotalDailyChina'">
                <div>{{ formatDateLabel(item) }}</div>
                <div>
                    Total Daily China:
                    <span>{{ item.totalDailyChina | number }}</span>
                </div>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template let-series="series" let-item="item" #tooltipLogarithmicChart>
    <div class="app__map-tooltip">
        <ul class="app__map-tooltip-list">
            <li class="deaths" *ngIf="series.name == 'seriesTotalDailyOtherLocations'">
                <div>{{ formatDateLabel(item) }}</div>
                <div>Total Daily Other Locations: <span> {{ item.totalDailyOtherLocations | number }} </span></div>
            </li>
            <li class="infected" *ngIf="series.name == 'seriesTotalDailyChina'">
                <div>{{ formatDateLabel(item) }}</div>
                <div>Total Daily China:<span> {{ item.totalDailyChina | number }} </span></div>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template let-series="series" let-item="item" #tooltipDailyChart>
    <div class="app__map-tooltip">
        <ul class="app__map-tooltip-list">
            <li class="infected" *ngIf="series.valueMemberPath == 'activeCases'">
                <div>{{ formatDateLabel(item) }}</div>
                <div>New Confirmed Cases:<span class="infected"> {{ item.activeCases | number }} </span></div>
            </li>
        </ul>
    </div>
</ng-template>