@import "../themes/vars";
::ng-deep {
    .app__charts-legend {
        padding: ($app-gap / 2) 0
    }

    .ig-chart-legend-items-list,
    .ig-chart-legend-item{
        display:flex !important;
        align-items: center !important;
    }

    .ig-chart-legend-item td {
        margin-right: 4px !important;
        padding: 0 !important;
        display: flex;
    }

    .app__charts-chart {
        width: 100%;
        height: calc(40vh - 42px);
    }

    .app__chart-component {
        width: 100%;
        height: 100%;
        flex: 1;
    }
}
