<igx-legend class="app__charts-legend" #legend orientation="Horizontal"></igx-legend>
<div class="app__chart-component">
    <ng-container *ngIf="timelineChart">
        <igx-data-chart class="app__charts-chart" #chartActual [legend]="legend" 
            [dataSource]="chartData" isHorizontalZoomEnabled="true">
            <igx-category-x-axis label="date" title="Date" #xAxis2 [formatLabel]="formatDateLabel">
            </igx-category-x-axis>
            <igx-numeric-y-axis name="yAxis2" #yAxis2 title="Cases count" [isLogarithmic]="isLogarithmic"></igx-numeric-y-axis>
    
            <ng-container *ngIf="timelineChart">
                <igx-line-series name="seriesTotalDailyOtherLocations" title="Total Daily Other Locations" [xAxis]="xAxis2" [yAxis]="yAxis2"
                    valueMemberPath="totalDailyOtherLocations" [markerType]="3" showDefaultTooltip="true">
                </igx-line-series>
                <igx-line-series name="seriesTotalDailyChina" title="Total Daily China" [xAxis]="xAxis2" [yAxis]="yAxis2"
                    valueMemberPath="totalDailyChina" [markerType]="3" showDefaultTooltip="true">
                </igx-line-series>
                <igx-line-series name="seriesTotalDailyRecoveredCases" title="Total Daily Recovered" [xAxis]="xAxis2" [yAxis]="yAxis2"
                    valueMemberPath="totalDailyRecoveredCases" [markerType]="3" showDefaultTooltip="true">
                </igx-line-series>
            </ng-container>
        </igx-data-chart>
    </ng-container>

    <ng-container *ngIf="!timelineChart">
        <igx-data-chart  class="app__charts-chart" #chart [legend]="legend"
            [dataSource]="chartData" isHorizontalZoomEnabled="true">
            <igx-numeric-y-axis #yAxis title="New and recovered cases">
            </igx-numeric-y-axis>
            <igx-category-x-axis label="date" title="Date" #xAxis [formatLabel]="formatDateLabel">
            </igx-category-x-axis>

            <igx-column-series valueMemberPath="activeCases" labelMemberPath="date"
                title="New Confirmed Cases" [xAxis]="xAxis" [yAxis]="yAxis"
                showDefaultTooltip="true">
            </igx-column-series>
            <igx-column-series valueMemberPath="recoveredCases" labelMemberPath="date"
                title="Recovered Cases" [xAxis]="xAxis" [yAxis]="yAxis" showDefaultTooltip="true">
            </igx-column-series>
        </igx-data-chart>
    </ng-container>
</div>