<div>
  <a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/tabbar/README.md" target="_blank">README</a>
  <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" target="_blank">official documentation</a>
  <igx-bottom-nav>
    <igx-tab-panel label="Confirmed Cases">
      <div class="tab-content">
          <app-confirmed-cases-map></app-confirmed-cases-map>
      </div>
    </igx-tab-panel>
    <igx-tab-panel label="Active Cases">
      <div class="tab-content">
          <app-active-cases-map></app-active-cases-map>
      </div>
    </igx-tab-panel>
</igx-bottom-nav>
</div>
