/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";

/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

@import "app/themes/palettes";
@import "app/themes/vars";

/* autoprefixer grid: on */

@include igx-core();

html, body {
  height: 100%;
  overflow: hidden;
}

.app-light-theme {
  @include igx-theme($palette: $app-palette, $legacy-support: false);
  @import "app/themes/components/light";
}

.app-dark-theme {
  @include igx-theme($palette: $app-dark-palette, $schema: $dark-schema, $legacy-support:false);
  @import "app/themes/components/dark";
  background: linear-gradient(#24304b, #0f1420);
  color: #ddd;
}
