/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";

/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

@import "app/palettes";
@import "app/vars";

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($app-palette);

html, body {
  height: 100%;
  overflow: hidden;
}

$app-tabs-theme: igx-tabs-theme(
  $border-radius: 8px,
  $disable-shadow: false,
  $item-text-color: igx-color($app-palette, 'primary', 700),
  $item-hover-background: igx-color($app-palette, 'primary', 100),
  $item-hover-color: igx-color($app-palette, 'primary', 900),
  $item-active-color: igx-color($app-palette, 'primary', 900),
  $item-active-icon-color: igx-color($app-palette, 'primary', 900),
  $item-active-background: igx-color($app-palette, 'primary', 100),
  $indicator-color: null,
);

$app-button-group-theme: igx-button-group-theme(
  $item-selected-background: igx-color($app-palette, 'primary', 100),
  $item-hover-background: igx-color($app-palette, 'primary', 100),
  $item-selected-hover-background: igx-color($app-palette, 'primary', 100),
  $item-selected-border-color: igx-color($app-palette, 'primary'),
  $item-text-color: igx-color($app-palette, 'primary', 700),
  $item-selected-text-color: igx-color($app-palette, 'primary', 900),
  $item-hover-text-color: igx-color($app-palette, 'primary', 900),
  $item-border-color: igx-color($app-palette, 'primary'),
  $shadow: none,
);

@include igx-button-group($app-button-group-theme);
@include igx-tabs($app-tabs-theme);
