/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";

/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

@import "app/palettes";
@import "app/vars";

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($app-palette);

html, body {
  height: 100%;
  overflow: hidden;
}
